@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat';
  }

.container-1 {
    background-color: #e2f3f5;
}

.container-2 {
    background-color: #0e153a;
}

.container-3 {
    background-color: #3d5af1;
}

.container-4 {
    background-color: #e2f3f5;
}

.container-5 {
    background-color: #0e153a;
}

.container-4 h3{
    margin-left: 40%;
    margin-right: 40%;
    background-color: #22d1ee;
}