<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {% block title %}{% endblock title %}
    </head>

    <body>
        {% block content %}{% endblock content %}
    </body>
</html>