{% extends "base.html" %}
{% load static %}
    {% block title %}
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Fauzan "Corfaitch" Hanandito</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">   
        <link rel="stylesheet" href="{% static 'CSS/main2.css' %}">
    {% endblock title %}


    {% block content %}
        <div class="container-1">
            <div class="align-items-center p-5">
                <h1 class="text-center display-1 p-5">My story so far...</h1>
            </div>
        </div>
        <div class="container-2">
        </br class="p-5">
            <div class="row p-5">
                <div class="col p-5">
                    <h1 class="text-white px-5 display-3">1998</h1>
                    <h3 class="text-white p-5 display-4">Born in Balikpapan.</h3>
                </div>
                <div class="col p-5">
                <div>
                </div>
            </div>
        </div>
        <div class="container-2">
        </br class="p-5">
            <div class="row p-5">
                <div class="col p-5">
                </div>
                <div class="col p-5">
                <div>
                    <h1 class="text-white px-5 display-3">2000</h1>
                    <h3 class="text-white p-5 display-4">Got my first PS1.</h3>
                </div>
            </div>
        </div>
        <div class="container-2">
        </br class="p-5">
            <div class="row p-5">
                <div class="col p-5">
                    <h1 class="text-white px-5 display-3">2002</h1>
                    <h3 class="text-white p-5 display-4">Entered my first kindergarden.</h3>
                </div>
                <div class="col p-5">
                <div>
                </div>
            </div>
        </div>
        <div class="container-2">
        </br class="p-5">
            <div class="row p-5">
                <div class="col p-5">
                </div>
                <div class="col p-5">
                <div>
                    <h1 class="text-white px-5 display-3">2005</h1>
                    <h3 class="text-white p-5 display-4">Graduate from kindergarden</h3>
                </div>
            </div>
        </div>
        <div class="container-2">
        </br class="p-5">
            <div class="row p-5">
                <div class="col p-5">
                    <h1 class="text-white px-5 display-3">2009</h1>
                    <h3 class="text-white p-5 display-4">Won my first medal at international mathematics competition.</h3>
                </div>
                <div class="col p-5">
                <div>
                </div>
            </div>
        </div>
        <div class="container-2">
        </br class="p-5">
            <div class="row p-5">
                <div class="col p-5">
                </div>
                <div class="col p-5">
                <div>
                    <h1 class="text-white px-5 display-3">2011</h1>
                    <h3 class="text-white p-5 display-4">Graduated from elementary school.</h3>
                </div>
            </div>
        </div>
        <div class="container-2">
        </br class="p-5">
            <div class="row p-5">
                <div class="col p-5">
                    <h1 class="text-white px-5 display-3">2014</h1>
                    <h3 class="text-white p-5 display-4">Graduated from middle school.</h3>
                </div>
                <div class="col p-5">
                <div>
                </div>
            </div>
        </div>
        <div class="container-2">
        </br class="p-5">
            <div class="row p-5">
                <div class="col p-5">
                </div>
                <div class="col p-5">
                <div>
                    <h1 class="text-white px-5 display-3">2017</h1>
                    <h3 class="text-white p-5 display-4">Graduated from high school.</h3>
                </div>
            </div>
        </div>
        <div class="container-2">
        </br class="p-5">
            <div class="row p-5">
                <div class="col p-5">
                    <h1 class="text-white px-5 display-3">2019</h1>
                    <h3 class="text-white p-5 display-4">Entered Universitas Indonesia.</h3>
                </div>
                <div class="col p-5">
                <div>
                </div>
            </div>
        </div>
        </br class="p-5">
        <div class="container-2 p-5">
            <h1 class="text-white text-center p-5 display-2">And the story continues...</h1>
        </div>
        <div class="container-4 p-5">
        </br class="p-5">
            <h1 class="text-center p-5 display-2">Go back to the main page</h1>
            </br class="p-5">
            </br class="p-5">
            <h3 class="text-center p-5"><a href="{% url 'ppw:story3' %}" title="Go back">Go back</a></h3>
        </br class="p-5">
        </div>
        <div class="container-5">
            <p class="text-center text-white p-5">Icons made by
                <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a>,
                <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>, and
                <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> with some color changes.
                <br/>
                Ⓒ Corfaitch 2021
            </p>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% endblock content %}